:root {
    font-size: 16px;
}

.hatcher-title-container {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-color: indigo;
    color: white;
    
}

.hatcher-mode-option {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    background-color: forestgreen;
    border-radius: 1rem;
}

.text-box-container {
    flex-direction: column;
    gap: 10vh;
}

.text-box-button {
    padding: 2rem;
    border: solid 10px red;
    box-shadow: -2px 2px 3px black;
}

@media only screen and (max-width: 768px) {

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: white;
    height: 70vh;
    width: 90vw;
    border-radius: 1rem;
}

.hatcher-title-container {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: indigo;
    color: white;
    
}

.hatcher-mode-option {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin: 2vh 0;
    padding: 1rem;
    width: 80%;
    background-color: forestgreen;
    border-radius: 1rem;
    box-shadow: 2px 3px 2px black;
}

.easy-mode {
    background-color: lightblue;
}

.text-box-container {
    flex-direction: column;
    gap: 10vh;
}

.question-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 80vw;
    height: 20vh;
    background-color: purple;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 3px white, 0 0 0 6px grey, 0 0 0 9px darkgrey, 0 0 0 12px black; 
    animation: hypno-loop 10s ease-in-out infinite;
}

@keyframes hypno-loop {

    0% { box-shadow: 0 0 0 3px white, 0 0 0 6px grey, 0 0 0 9px darkgrey, 0 0 0         12px black}
    25% {box-shadow: 0 0 0 3px black, 0 0 0 6px white, 0 0 0 9px grey, 0 0 0 12px darkgrey;  }
    50% { box-shadow: 0 0 0 3px darkgrey, 0 0 0 6px black, 0 0 0 9px white, 0 0 0 12px grey;  }
    75% { box-shadow: 0 0 0 3px grey, 0 0 0 6px darkgrey, 0 0 0 9px black, 0 0 0 12px white}
    100% { box-shadow: 0 0 0 3px white, 0 0 0 6px grey, 0 0 0 9px darkgrey, 0 0 0 12px black}
}

.answer-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 10vh;
    margin: 1.2rem 0px 0px 0px;
    padding: 1rem;
    background-color: lightblue;
    color: black;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -2px 2px 2px white;
}

}

@media only screen and (min-width: 768px) {

    .start-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        gap: 2.5rem;
        height: 80vh;
        width: 100vw;
        border-radius: 1rem;
    }

    .hatcher-mode-option {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        margin: 2vh 0;
        padding: 1rem;
        width: 50%;
        background-color: forestgreen;
        border-radius: 1rem;
        box-shadow: 2px 3px 2px black;
    }

    .question-text-box {
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 80vw;
        height: 20vh;
        background-color: purple;
        color: white;
        border-radius: 1rem;
        box-shadow: 0 0 0 3px white, 0 0 0 5px grey, 0 0 0 7px black; 
    }

    .answer-text-box {
        display: flex;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 10vh;
        margin: 1.2rem 0px 0px 0px;
        padding: 1rem;
        background-color: lightblue;
        color: black;
        text-align: center;
        border-radius: 1rem;
        box-shadow: -2px 2px 2px white;
    }
}