:root {
    --red: #ca314a;
    --purple: #85316c;
    --indigo: #5715bf;
    --grey: #809e84;
    --green: #acc535;
    --orange: #cc7540;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    height: 100vh;
    width: 100%;
    background-color: orange;
    user-select: none;
}

.qa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}