main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: orange;
    user-select: none;
}

.qa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}